body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 1.2em;
  margin: 0;
  padding: 0.4em 0 0.4em 0.4em;
  background-color: #e0e0e0;
}

h2 {
  margin: 1em 0em;
  font-size: 1.0em;
  border-color: #bbbbbb;
  border-style: solid;
  border-width: 0 0 2px 0;
}

p#copyright {
  margin: 0;
  padding: 0.5em 0 0.5em 0.5em;
  background-color: #e0e0e0;
}

div#nav {
  float: left;
  margin-left: 0.5em;
  margin-right: 1.6em;
  width: 13em;
}

div#article {
  float: left;
  width: 40em;
}

div.clear_float {
  clear: both;
}

div#nav ul, div#nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

dl.changelog dt {
  border-color: #bbbbbb;
  border-style: solid;
  border-width: 0 0 2px 0;
}

dl.changelog dd {
  display: list-item;
  list-style-type: circle;
}

dd + dt {
  margin-top: 1.0em;
}